@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'Brother 1816';
    src: url('Brother1816-Regular.woff2') format('woff2'),
        url('Brother1816-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Brother 1816';
    src: url('Brother1816-Light.woff2') format('woff2'),
        url('Brother1816-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Brother 1816';
    src: url('Brother1816-Bold.woff2') format('woff2'),
        url('Brother1816-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Brother 1816';
    src: url('Brother1816-Thin.woff2') format('woff2'),
        url('Brother1816-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Brother 1816';
    src: url('Brother1816-Medium.woff2') format('woff2'),
        url('Brother1816-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
/*-------------Buttons---------------*/
a.bnrbtn1, a.bnrbtn2, a.s4btn{
	height:56px;
	width:224px;
	background:#ffb300;
	border:none;	
	border-radius:4px;
	font-weight:bold;
	font-size:20px;
	line-height:56px;	
	color:#000;
	text-align:center;
	margin:0 auto;
	display:block;
	outline:none;
	cursor:pointer;	
}
a.bnrbtn2 {
	background:none;
	border:2px solid #ffb300;
	color:#ffb300;
	line-height:52px;
}
a.s4btn{margin:60px 0 0 0;}
@media only screen and (max-width: 1013px){
a.s4btn{margin:40px 0 0 0;}
}
@media only screen and (max-width: 767px){
a.bnrbtn1, a.bnrbtn2{width:208px;}
a.s4btn{margin:30px auto 0 auto;}
}
@media only screen and (max-width: 479px){
a.bnrbtn1, a.bnrbtn2 {width: 156px;}
}
@media only screen and (max-width: 359px){
a.bnrbtn1, a.bnrbtn2 {width: 136px;height:45px;line-height:45px;font-size:18px;}
a.bnrbtn2{line-height:41px;}
}
/*=========================
CSS FOR ELEMEMT SHOW HIDE
===========================*/
.hide-desk, .show-479, .show-tab, .show-767, .show-400, .show-340, .show-359, .tab-video, .bnricon-mob {display:none;}
.hide-400, .hide-479{display:inline-block;}
@media only screen and (max-width: 1179px){
.show-desk{display:block;}
.show-hide{display:none;}
}
@media only screen and (max-width: 1013px){
.show-tab{display:block;}
.hide-tab{display:none;}
.tab-video{display:block;}
}
@media only screen and (max-width: 767px){
.hide-767, .hide-desk{display:none;}
.show-767{display:block;}
.bnricon-mob{display:inline-block;}
}
@media only screen and (max-width: 570px){
.hide-570{display:none;}
}
@media only screen and (max-width: 479px){
.show-479{display:block;}
.hide-479, .tab-video{display:none;}
}
@media only screen and (max-width: 400px){
.show-400{display:block;}
.hide-400{display:none;}
}
@media only screen and (max-width: 359px){
.show-359{display:block;}
.hide-359{display:none;}
}
@media only screen and (max-width: 340px){
.show-340{display:block;}
}


/*================================*/

.tadda {
	animation-name: tadda;
	-webkit-animation-name: tadda;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	}
@keyframes tadda {
0% {transform:translateY(0px)}
50% {transform: translateY(15px);}
100% {transform: translateY(0px);}
}
.taddaR {
	animation-name: taddaR;
	-webkit-animation-name: taddaR;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	}
@keyframes taddaR {
0% {transform:translateY(0px)}
50% {transform: translateY(-15px);}
100% {transform: translateY(0px);}
}



