<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Our journey.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2016</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We were trying to understand the digital marketing space by playing around with the different traffic sources, ad formats, offers and niches. We worked in everything from native, social, pops, video and banners.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2016-July2018</h4>
                                    <h4 class="subheading">eCommerce: Around the world</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We mastered Facebook Ads and ran massively successful campaigns, scaling products to more than 7 figures and building multiple stores. We sold to customers all around the world.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2018</h4>
                                    <h4 class="subheading">Time to Make (It) In India</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We decided our true love is India and what better way than to focus on our home market. So we started exploring the eCommerce space here. India was a different market, where we controlled the entire chain, from sourcing to packaging to shipping to customer support to marketing. We learnt a lot of things in the process.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2019</h4>
                                    <h4 class="subheading">Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">It was time to scale up our operations in India, we took a bigger warehouse, hired a bigger operations team and opened up our doors to other people so that they can leverage our expertise and do what we did, without having to put in all the hard work.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>