<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">What we have to offer</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">eCommerce</h4>
                    <p class="text-muted">We have years of doing eCommerce, first globally and now in India, along with an in depth understanding of social media platforms.</p>
                </div>
                <div class="col-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Digital Marketing Agency</h4>
                    <p class="text-muted">After having spent millions of dollars on online advertising platforms like Facebook and Google allow us to be effectively run your campaigns.</p>
                </div>
            </div>
        </div>
    </section>